@use '../../../assets/styles/variables' as *;
@use '../../../assets/styles/mixins' as *;

// Estilos para el contenedor principal
.main-content {
    min-height: 100vh;
    padding-top: 2rem;
}

// Estilos para las secciones
.section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    &#home {
        min-height: 80vh;
    }
    
    &:nth-child(even) {
        background-color: $section-bg-alt;
    }
}